html {
    margin: 20px 50px 0px 250px;
    padding-bottom: 100px;
    font-family: "Comic Sans MS"
}

#header {
    margin-top: 100px;
}

#welcome-message {
    font-size: 24px;
    font-weight: 200;
    letter-spacing: -0.02em;  
}

#navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: yellowgreen;
    text-align: center;
}

#navbar {
    list-style-type: none;
    padding: 0;
}

.navbar-item {
    display: inline-block;
    padding: 10px;
    background: linear-gradient(180deg, rgba(10,95,255,1) 0%, rgba(0,255,173,1) 100%);
}

.navbar-item > a {
    text-decoration: none;
    color: black;
}

#header, 
#experience, 
#skills {
    /* without a padding, a fragment link will scroll to the div
    but it will be hidden behind the navbar - add padding to make 
    sure that the navbar doesn't cover the heading */
    padding-top: 75px;
}

.experience-title, 
.experience-company {
    font-size: 18px;
    font-weight: 600;
}

.experience-company,
.experience-length {
    color: red;
}

.experience-length {
    float: right;
}

.experience-description {
    font-size: 14px;
    line-height: 18px;
}

.experience-description > ul > li {
    margin: 0 0 5px 0;
}

.experience-item {
    margin-bottom: 30px;
}

#sidebar {
    position: fixed;
    top: 0;
    height: 100vh;
    left: 0px;
    width: 250px;
    padding: 25px 5px 5px 5px;
    vertical-align: middle;
    background-color: yellowgreen;
}

#profile-img-wrapper {
    text-align: center;
    margin-top: 100%;
}

#name {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}

#interesting-points {
    margin-top: 30px;
    text-align: center;
}

#tech-pill-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
}

.tech-pill {
    background-color: red;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 500px;
    font-size: 12px;
}

.tech-pill:nth-child(2n) {
    background-color: yellow;
}

.tech-pill:nth-child(2n+1) {
    background-color: blue;
    color: white;
}

/* Kirk, https://stackoverflow.com/questions/6410730/css-endless-rotation-animation */
@-webkit-keyframes rotating {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  #profile-img {
    border-radius: 200px;
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
  }