html {
    margin: 20px 15%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header {
    margin-top: 100px;
    background-color: red;
}

#profile-img-wrapper {
    text-align: center;
}

#profile-img {
    border-radius: 100px;
    width: 100px;
}

#welcome-message {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.02em;  
}

#navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    text-align: center;
}

#navbar {
    list-style-type: none;
    padding: 0;
}

.navbar-item {
    display: inline-block;
    padding: 10px;
}

.navbar-item > a {
    text-decoration: none;
    color: black;
}

#header, 
#experience, 
#skills {
    /* without a padding, a fragment link will scroll to the div
    but it will be hidden behind the navbar - add padding to make 
    sure that the navbar doesn't cover the heading */
    padding-top: 75px;
}

.experience-title, 
.experience-company {
    font-size: 18px;
    font-weight: 600;
}

.experience-company,
.experience-length {
    color: #a9a9a9;
}

.experience-length {
    float: right;
}

.experience-description {
    font-size: 14px;
    line-height: 18px;
}

.experience-description > ul > li {
    margin: 0 0 5px 0;
}

.experience-item {
    margin-bottom: 30px;
}
